
@font-face {
    font-family: 'TitilliumWeb';
    src: url('../resources/Font/Titillium_Web/TitilliumWeb-Regular.ttf');
}
/* complete site */
html {
    background-color: black;
    color: white;
    font-family: 'TitilliumWeb', sans-serif;
}
/* Affix tooltip class */
.icontiny {
    background: left center no-repeat;
}
/* highlights row, that was clicked, through javascript */
.click_highlight {
	background-color: #123456 !important;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
/*<th> and <td> of table affixes */
.tbl_affixe {
    text-align: left;
    padding-right: 10px;
    border: none;
}
/* all in mytabs (complete table and select section) */
.mytabs {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    max-width: 100%;
	font-size: 17px;
	text-align:center;
}
/* table and td cells in mytabs */
.mytabs table, td {
	border: 1px solid #383838;
    border-collapse: collapse;
}
/* th in mytabs */
.mytabs th {
    position: sticky;
	background-color: black;
	font-size: 17px;
    top: -1px;
    outline: 1px solid #383838;
    height: 53px;
	background-size: 100% 100%;
	z-index: 10;
}
/* only table in mytabs */
.mytabs table {
    width: 100%;
}
/* every 2nd row in mytabs */
.mytabs tr:nth-child(even) {
	background-color: #181818;
}
/* every row except first, because this is th (on mouse hover) in mytabs*/
.mytabs tr:not(:first-child):hover {
    background-color: #012e31;
}
/* radio buttons in mytabs (table select)*/
/* display: none; hides the small dot selector */
.mytabs input[type="radio"] {
    display: none;
}
/* the labels of radio buttons in mytabs */
.mytabs label {
    padding: 5px;
	width: 85px;
    font-weight: bold;
    border: 1px solid #383838;
	font-size: 17px;
	border-radius: 15px 15px 0px 0px;
}
/* has to do with the tabs itself, makes all invisable except the selected one.
changing order destroys the radio button lineup */
.mytabs .tab {
    width: 100%;
    order: 1;
    display: none;
}
/* has also todo with table display on checked radio button */
.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}
/* checked radio button */
.mytabs input[type="radio"]:checked + label {
	color: red;
}
/* all dungeons th in mythic score table */
.mytabs .dungeon {
	width: 8%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
/* ilvl th in all tables */
.mytabs .ilvl {
    width: 5%;
}
/* score th in mythic score table */
.mytabs .score {
    width: 7%;
}
/* rewards th in weekly table */
.mytabs .rewards {
    width: 11%;
}
/* +20 th in wekkly table */
.mytabs .twenty {
    width: 4%;
}
/* empty th fields in weekly table */
.mytabs .runs_weekly {
    width: 7%;
}
/* Improved tooltips which looks like a speach bubble and can contain any kind of html content, e.g. images */
/* add 'class="tooltip"' to the html element which should show a tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}
/* add a <span class="tooltiptext></span> element inside the 'class="tooltip"' element which contains everything you want to show in the tooltip bubble */
.tooltip .tooltiptext {
  font-size: 0.8em;
  visibility: hidden;
  width: 80px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 11;
  bottom: 125%;
  left: 50%;
  margin-left: -40px;
  opacity: 0;
  transition: opacity 0.3s;
}
/* creates the tooltip speach bubble arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
/* show tooltip if hovered */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* set role icon size in tooltips */
#roleicon {
  width: 12px;
}
.tbl_tt td {
    /*padding-right: 10px;*/
    border: none;
}