<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="resources/favicon.png">
    <meta charset="utf-8">
    <script>
    	const whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: false};
		function highlightRow(row) {
  			row.classList.toggle("click_highlight");
		};
	</script>
    <script src="https://wow.zamimg.com/js/tooltips.js"></script>
	<style>{% stylesheet_content %}</style>
</head>
<body>
	<table width="100%"><tr>
	<th style="text-align: left;font-size: 30px;">current Season: "{% season_name %}"</th>
	<th style="text-align: center;font-size: 30px;">{% legend %}</th>
	<th style="text-align: right;font-size: 30px;">last Update: {% now %}</th>
	</tr></table>
	<p>
		{% affixes %}
	</p>
	<!-- Table -->
	<div class="mytabs">
		<!-- Main Tracker -->
		<input type="radio" id="Main" name="mytabs" checked="checked">
		<label for="Main">Main Tracker</label>
		<div class="tab">
	        {% main_tracker_content %}
    	</div>
		<!-- Main Weekly -->
    	<input type="radio" id="Thisweek" name="mytabs">
		<label for="Thisweek">Main Weekly</label>
    	<div class="tab">
			{% main_weekly_content %}
	    </div>
    	<!-- Alts Tracker -->
	    <input type="radio" id="prevweek" name="mytabs">
		<label for="prevweek" style="margin-left: 1%">Alts Tracker</label>
    	<div class="tab">
			{% alts_tracker_content %}
    	</div>
    	<!-- Alts Weekly -->
	    <input type="radio" id="twink" name="mytabs">
		<label for="twink">Alts Weekly</label>
    	<div class="tab">
			{% alts_weekly_content %}
    	</div>
    	<!-- Main prev Weekly -->
	    <input type="radio" id="TThisweek" name="mytabs">
		<label for="TThisweek" style="margin-left: 1%">Main prev Weekly</label>
    	<div class="tab">
			{% main_prev_weekly_content %}
    	</div>
    	<!-- Alts prev Weekly -->
	    <input type="radio" id="Tprevweek" name="mytabs">
		<label for="Tprevweek">Alts prev Weekly</label>
    	<div class="tab">
			{% alts_prev_weekly_content %}
    	</div>
	</div>
	<br><br><br>
	<p>All data provided by <a href="https://raider.io">Raider.io</a> & <a href="https://battle.net">Battle.net</a></p>
	<p>This Project source is hosted on <a href="https://github.com/derwhite/whitez_mplus">Github.com</a>
		<span style="font-size:70%;">{% version_string %}</span>
	</p>
</body>
</html>