<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="resources/favicon.png">
    <meta charset="utf-8" http-equiv="refresh" content="300">
    <script>
		document.addEventListener('DOMContentLoaded', activeRadio, false);
    	const whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: false};
		var sorted = false;
		function activeRadio(){
			var data = sessionStorage.getItem('data');
			if(JSON.parse(data).myRadioButtonID != ''){
				document.getElementById(JSON.parse(data).myRadioButtonID).checked = true;
			};
		};
		function setRadioActive(myRadio) {
			sessionStorage.setItem("data",JSON.stringify({"myRadioButtonID": myRadio.id}));
		};
		function highlightRow(row) {
			var trList = document.getElementsByTagName("tr");
			for (var i = 0; i < trList.length; i++) {
				if (trList[i] != row) {
					trList[i].classList.remove("click_highlight");
				}
			};
  			row.classList.toggle("click_highlight");
		};
		function sortTable(columnIndex, table_name) {   /* Sortiert vorerst nur Zahlen, innerHTML gibt den ganzen Zellen-Inhalt aus, deshalb musste ich noch per match den eigentlichen Wert aus 'lalala>213</span> exportieren*/
			var table, rows, switching, i, x, y, shouldSwitch;
			table = document.getElementById(table_name);
			switching = true;
			while (switching) {
				switching = false;
				rows = table.getElementsByClassName("player_row");
				for (i = 0; i < (rows.length - 1); i++) {
					shouldSwitch = false;
					x = rows[i].getElementsByTagName("td")[columnIndex];
					y = rows[i + 1].getElementsByTagName("td")[columnIndex];
					if (sorted == true){
						if (Number(x.innerHTML.match('\>([0-9]+\.*?[0-9]*?)\<')[1]) < Number(y.innerHTML.match('\>([0-9]+\.*?[0-9]*?)\<')[1])) {
							shouldSwitch = true;
							break;
						}
					}else{
						if (Number(x.innerHTML.match('\>([0-9]+\.*?[0-9]*?)\<')[1]) > Number(y.innerHTML.match('\>([0-9]+\.*?[0-9]*?)\<')[1])) {
							shouldSwitch = true;
							break;
						}
					}
				}
				if (shouldSwitch) {
					rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
					switching = true;
				}
			}
			if (sorted == false){
				sorted = true;
			}else{
				sorted = false
			}
		};
	</script>
    <script src="https://wow.zamimg.com/js/tooltips.js"></script>
	<style>{% stylesheet_content %}</style>
</head>
<body>
	<table width="100%"><tr>
	<th style="text-align: left;font-size: 30px;">current Season: "{% season_name %}"</th>
	<th style="text-align: center;font-size: 30px;">{% legend %}</th>
	<th style="text-align: right;font-size: 30px;">last Update: {% now %}</th>
	</tr></table>
	<p>
		{% affixes %}
	</p>
	<!-- Table -->
	<div class="mytabs">
		<!-- Main Tracker -->
		<input onclick="setRadioActive(this);" type="radio" id="Main" name="mytabs" checked="checked">
		<label for="Main">Main<br>Tracker</label>
		<div class="tab">
	        {% main_tracker_content %}
    	</div>
		<!-- Main Weekly -->
    	<input onclick="setRadioActive(this);" type="radio" id="Thisweek" name="mytabs">
		<label for="Thisweek">Main<br>Weekly</label>
    	<div class="tab">
			{% main_weekly_content %}
	    </div>
    	<!-- Alts Tracker -->
	    <input onclick="setRadioActive(this);" type="radio" id="prevweek" name="mytabs">
		<label for="prevweek" style="margin-left: 1%">Alts<br>Tracker</label>
    	<div class="tab">
			{% alts_tracker_content %}
    	</div>
    	<!-- Alts Weekly -->
	    <input onclick="setRadioActive(this);" type="radio" id="twink" name="mytabs">
		<label for="twink">Alts<br>Weekly</label>
    	<div class="tab">
			{% alts_weekly_content %}
    	</div>
    	<!-- Main prev Weekly -->
	    <input onclick="setRadioActive(this);" type="radio" id="TThisweek" name="mytabs">
		<label for="TThisweek" style="margin-left: 1%">Main prev<br>Weekly</label>
    	<div class="tab">
			{% main_prev_weekly_content %}
    	</div>
    	<!-- Alts prev Weekly -->
	    <input onclick="setRadioActive(this);" type="radio" id="Tprevweek" name="mytabs">
		<label for="Tprevweek">Alts prev<br>Weekly</label>
    	<div class="tab">
			{% alts_prev_weekly_content %}
    	</div>
	</div>
	<br><br><br>
	<p>All data provided by <a href="https://raider.io">Raider.io</a> & <a href="https://battle.net">Battle.net</a></p>
	<p>This Project source is hosted on <a href="https://github.com/derwhite/whitez_mplus">Github.com</a>
		<span style="font-size:70%;">{% version_string %}</span>
	</p>
</body>
</html>